apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_secret }}
  namespace: {{ argocd.namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
  annotations:
    managed-by: argocd.argoproj.io
data:
  config: "{{ cluster_config }}"
  name: "{{ cluster_name | b64encode }}"
  server: "{{ cluster_apiserver_url | b64encode }}"
type: Opaque
