{
  "site": "{{ site }}",
  "product_group_id": {{ product_group_id }},
  "ocp_version": "{{ ocp_version }}",
  "quota_type": "quick_burn",
  "time_to_live": {{ time_to_live }},
  "size": "{{ size }}",
  "platform": "{{ platform }}"
}
