{
  "site": "{{ site }}",
  "product_group_id": {{ product_group_id }},
  "ocp_version": "{{ ocp_version }}",
  "platform": "{{ platform }}"
  "worker":  [
    {
      "count": "{{ worker.count }}",
      "cpu": "{{ worker.cpu }}",
      "memory": "{{ worker.memory }}",
      "additional_disk": [
        {% for disk in worker.additional_disk %}
        {{ disk }}
        {% endfor %}
      ]
    }
  ]
}
